<p><b>Dear {{fullName}}</b></p>

<br />

<p>Welcome to OWT Viet Nam Employee App! We would like to provide you with your
  default login credentials so that you can get started right away.</p>

<br />
<p>
  <p><span>Username:</span>
    <b>{{companyEmail}}</b></p>
  <p><span>Password:</span>
    <b>{{password}}</b></p>
</p>
<br />

<p>Please click on below link to activate your account.</p>
<a href="{{ loginPageUrl }}">
    <input type="submit" class="button" value="Activate Account" style="
        background-color: #6366f1;
        border: none;
        color: white;
        padding: 8px 18px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
    " />
</a>
<br />

<br />
<p>If the link is not working, copy below link into your web browser and
  activate the account.</p>
<p><i>{{loginPageUrl}}</i></p>

<br />
<p>Thank you.</p>
<p>Admin</p>